<!DOCTYPE html>
<html lang="en">
    <head>
        <meta¢ charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" nt="" />
        <title>Dog Seeker</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_og.css')}}">
      
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Home</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                      <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                      <li class="nav-item"><a class="nav-link" href="https://cocalc12.ai-camp.dev/375a9615-5617-48b6-a132-fe9d08f3c36b/port/12346/info">Info</a></li>
                      <li class="nav-item"><a class="nav-link" href="#team">Our Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead/Button -->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Dog Seeker AI</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Dog Seeker is an AI detection program that identifies the breed of a dog. To start, upload an image of a dog and the AI will do its best to identify from its registered 13 dog breeds</p>
                      <a class="mb-0" id='seefood_button'>
                        <form id='seefood_form' method=post enctype=multipart/form-data>
                          <input id="seefood_input_field" name="file" type="file" onchange="this.form.submit();" hidden/>
                        </form>
                        <button href="" target="_blank" class="btn btn-primary btn-xl">Click to see dog breed</button>
                      </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">How Does it work?</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Our AI was trained with over 6,000 labeled images of different dog breeds to accurately identify 13 of the most common dog breeds. Some images below provide an example of our models predictions.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5 row-cols-4">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-clock fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Puppy identification</h3>
                            <p class="text-muted mb-0">Able to identify dogs at all ages</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">13 Registered Dog Breeds</h3>
                            <p class="text-muted mb-0">As of right now, we have taught the AI to recognize 13 dog breeds: Akita, Shiba Inu, Australian Shepard, Beagle, Cavalier King Charles Spaniel, Corgi, Dachshund, German Shepard, Golden Retriever, Husky, Pitbull, Basset Hound, and Rottweiler.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-clipboard-check fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">High Accuracy</h3>
                            <p class="text-muted mb-0">You can trust the Dog-Seeker to reliably identify the dog you're wondering about</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Made with Love</h3>
                            <p class="text-muted mb-0">We have spent the majority of 3 weeks working on this AI, and we think that we have tried our best to overcome our difficulties</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{{ url_for('static', filename='images/AustralianShepherdWithBox.jpg')}}" title="Australian Shepherd">
                            <img class="img-fluid" src="{{ url_for('static', filename='images/AustralianShepherd.jpg')}}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"> Detection</div>
                                <div class="project-name">Australian Shepard</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{{ url_for('static', filename='images/HuskyWithBox.jpg')}}" title="Husky">
                            <img class="img-fluid" src="{{ url_for('static', filename='images/Husky.jpg')}}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"> Detection</div>
                                <div class="project-name">Husky</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{{ url_for('static', filename='images/PitbullWithBox1.jpg')}}" title="Pitbull">
                            <img class="img-fluid" src="{{ url_for('static', filename='images/Pitbull.jpg')}}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50"> Detection</div>
                                <div class="project-name">Pitbull</div>
                            </div>
                        </a>
                    </div>
                </div>
              </div>
          </div>
        <!-- Team -->
              <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Meet the Screaming Sirens</h3>
                  <h6 class="section-subheading text-muted">Art Drawn By Eugene Lim</h6>
                </div>
                <div class="row">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='images/imsorryalex.jpg')}}" alt="..." />
                            <h4>Alex Nguyen</h4>
                            <p class="text-muted">Instructor</p>
                        </div>
                    </div>
                <div class="row">
                  <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='images/stopeugenehate2.jpg')}}" alt="..." /> 
                            <h4>Eugene Lim</h4>
                            <p class="text-muted">AI Developer, Back-end Designer, "Artist"</p>
                        </div>
                </div>

                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='images/imsorrykevinm.jpg')}}" alt="..." />
                            <h4>Kevin Mach</h4>
                            <p class="text-muted">AI Developer, Back-end Designer</p>
                        </div>
                  </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='images/imsorryian.jpg')}}" alt="..." />
                            <h4>Ian Bryant</h4>
                            <p class="text-muted">AI Developer, Back-end Designer</p>
                        </div>
                  </div>
              </div>
<div class="row">
                  <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='images/imsorrykevinh.jpg')}}" alt="..." />
                            <h4>Kevin Ha</h4>
                            <p class="text-muted">AI Developer, Front-end Designer</p>
                        </div>
                </div>

                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='images/imsorrytai.jpg')}}" alt="..." />
                            <h4>Tai Hsu</h4>
                            <p class="text-muted">AI Developer, Front-end Designer</p>
                        </div>
                  </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='images/imsorrymichael.jpg')}}" alt="..." />
                            <h4>Michael Doscher</h4>
                            <p class="text-muted">AI Developer, Front-end Designer</p>
                        </div>
              </div>
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Screaming Sirens</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js">     </script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
    <script>
        // added to get upload with a button working
        document.getElementById('seefood_button').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('seefood_input_field').click();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#spinner").bind("ajaxSend", function() {
                $(this).show();
            }).bind("ajaxStop", function() {
                $(this).hide();
            }).bind("ajaxError", function() {
                $(this).hide();
            });
            // seefood_input_field
            $('#seefood_button').click(function() {

            });
        });
    </script>
